body {
    line-height: 1.5em;
    font-family: 'Georgia', 'Times New Roman', 'Times', 'serif';
    padding: 30px;
    background-image: url('../banana/bananas.png');
    width: 940px;
    margin: 0 auto;
   
}

h1 {
    background-color: #4aaaa5;
    color: white;
    float: left;
    padding: 10px;
    font-family: 'Georgia', 'Times New Roman', 'Times', 'serif';
}


a {
    text-decoration: none;
    color: black;
    text-decoration: underline;
}

a:hover {
    color: palevioletred;
}


.clearfix {
    background-color: #4aaaa5;
    padding: 10px;
    font-family: 'Georgia, Times New Roman', 'Times', 'serif';
    overflow: auto;
    display: block;
    height: 10px; 
}

nav {    
    margin: 0 auto;
    width: 100%;   
}

h2 {
    color: #4aaaa5;
    border-bottom: 2px solid lightgrey;
    padding: 10px;
}

.button {
    color: black;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:  darkgrey;
    color: white;
    text-align: center;
    border-top: solid 5px  #4aaaa5;
}

form{ 
    float: left;
}

.name {
}


.message {
    height: 300px;
}

button {
    padding: 9px;
    margin-left: 21px;
    padding: 25px, 20px 25px 20px;
    color: white;
    background-color:  #4aaaa5;
    width: 5%;
    border: none;
}

.my-button:hover {
    background-color:  green;

}

li {
    float: right;
    margin-inline-start: 20px;
    color:black; 
    list-style-type: none;   
}

section{
    float: left;
    margin: 20px;
    background-color: white;
    width: 940px;
    font-family: 'Georgia', 'Times New Roman', 'Times', 'serif';
}

.profile{
   float: left;
   width: 200px;
   padding: 10px;
   position: relative; top: -10px; 
}

.my-words {
    float: left;
}

.food {
    float: left;
    padding: 20px;
    position: relative;

}

.text-block-food {
    position: absolute;
    bottom: 2px;
    background-color: #4aaaa5;
    color: white;
    padding-left: 2px;
    padding-right: 2px;
    text-align: center;
    width: 91.3%;
}

.dog {
    float: left;
    padding: 10px;
    position: relative;
}

.text-block-dog {
    position: absolute;
    bottom: 2px;
    background-color: #4aaaa5;
    color: white;
    padding-left: 2px;
    padding-right: 2px;
    text-align: center;
    width: 91.3%;
}

.sports {
    float: right;
    padding: 20px;
    position: relative;
}

.text-block-sports{
    position: absolute;
    bottom: 2px;
    background-color: #4aaaa5;
    color: white;
    padding-left: 2px;
    padding-right: 2px;
    text-align: center;
    width: 80%;
}

.cat {
    float: left;
    padding: 10px;
    position: relative;

}

.text-block-cat{
    position: absolute;
    bottom: 2px;
    background-color: #4aaaa5;
    color: white;
    padding-left: 2px;
    padding-right: 2px;
    text-align: center;
    width: 91.3%;
}

.tech {
    float: left;
    padding: 10px;
    position: relative;
}

.text-block-tech{
    position: absolute;
    bottom: 2px;
    background-color: #4aaaa5;
    color: white;
    padding-left: 2px;
    padding-right: 2px;
    text-align: center;
    width: 90%;
}


form {
    float: left;
    margin: 20px;
    background-color: white;
    width: 940px;
    font-family: 'Georgia', 'Times New Roman', 'Times', 'serif';
}