body {
    line-height: 1.5em;
    font-family: 'Georgia', 'Times New Roman', 'Times', 'serif';
    padding: 30px;
    background-image: url('../banana/bananas.png');
    width: 940px;
    margin: 0 auto;
   
}

h1 {
    background-color: #4aaaa5;
    color: white;
    float: left;
    padding: 10px;
    font-family: 'Georgia', 'Times New Roman', 'Times', 'serif';
}


a {
    text-decoration: none;
    color: black;
    text-decoration: underline;
}

a:hover {
    color: coral;
}

a:active {
    color:  rgba(0, 0, 255, 0.952);
}

.clearfix {
    background-color: #4aaaa5;
    padding: 10px;
    font-family: 'Georgia, Times New Roman', 'Times', 'serif';
    overflow: auto;
    display: block;
    height: 10px; 
}

nav {    
    margin: 0 auto;
    width: 100%;   
}

h2 {
    color: #4aaaa5;
    border-bottom: 2px solid lightgrey;
    padding-bottom: 20px;
    padding-left: 10px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:  darkgrey;
    color: white;
    text-align: center;
    border-top: solid 5px  #4aaaa5;
}

form{ 
    float: left;
    height: 450px;
    width: 900px;
    padding: 10px;
    float: left;
    background-color: white;
    font-family: 'Georgia', 'Times New Roman', 'Times', 'serif';
    border: 2px solid lightgray;
    position: relative; top: 10px; 
}

.name {
    padding-bottom: 10px;
    position: relative; top: -5px; 
}

.email {
    padding-bottom: 10px;
    position: relative; top: -5px; 
}

.message {
    padding-bottom: 10px;
    position: relative; top: -5px; 
}

button {
    padding: 8px;
    color: white;
    background-color:  #4aaaa5;
    width: 10%;
    margin-top: 10px; 
    border: 2px solid lightblue;
    padding-bottom: 10px;
    position: relative; top: -15px; 
}

button:hover {
    background-color:  rgba(0, 0, 255, 0.952);
}

button:active {
    background-color: rgba(0, 128, 0, 0.959);
}


li {
    float: right;
    margin-inline-start: 20px;
    color:black; 
    list-style-type: none;   
}

section{
    float: left;
    background-color: white;
    width: 940px;
    font-family: 'Georgia', 'Times New Roman', 'Times', 'serif';
    border: 2px solid lightgrey;
    padding-bottom: 10px;
    position: relative; top: 15px; 
}

article {
    padding: 10px;
}
.profile{
   float: left;
   width: 200px;
   padding: 10px;
   position: relative; top: -10px; 
   position: relative; left: -5px;
}


.food {
    float: left;
    padding: 20px;
    position: relative;

}

.text-block-food {
    position: absolute;
    bottom: 2px;
    background-color: #4aaaa5;
    color: white;
    padding-left: 2px;
    padding-right: 2px;
    text-align: center;
    width: 91.3%;
}

.dog {
    float: left;
    padding: 10px;
    position: relative;
}

.text-block-dog {
    position: absolute;
    bottom: 2px;
    background-color: #4aaaa5;
    color: white;
    padding-left: 2px;
    padding-right: 2px;
    text-align: center;
    width: 91.3%;
}

.sports {
    float: right;
    padding: 20px;
    position: relative;
}

.text-block-sports{
    position: absolute;
    bottom: 2px;
    background-color: #4aaaa5;
    color: white;
    padding-left: 2px;
    padding-right: 2px;
    text-align: center;
    width: 80%;
}

.cat {
    float: left;
    padding: 10px;
    position: relative;

}

.text-block-cat{
    position: absolute;
    bottom: 2px;
    background-color: #4aaaa5;
    color: white;
    padding-left: 2px;
    padding-right: 2px;
    text-align: center;
    width: 91.3%;
}

.tech {
    float: left;
    padding: 10px;
    position: relative;
}

.text-block-tech{
    position: absolute;
    bottom: 2px;
    background-color: #4aaaa5;
    color: white;
    padding-left: 2px;
    padding-right: 2px;
    text-align: center;
    width: 90%;
}
